*{
	margin: 10px;
	padding: 0px;
}
.triangle-up,
.triangle-down,
.triangle-left,
.triangle-right,
.triangle-top-left,
.triangle-top-right,
.triangle-bottom-left,
.triangle-bottom-right{
	margin: 20px auto;
}
.triangle-up{
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}
.triangle-down{
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}
.triangle-left{
	width: 0px;
	height: 0px;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-right: 100px solid red;
}
.triangle-right{
	width: 0px;
	height: 0px;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 100px solid red;
}
.triangle-top-left{
	width: 0px;
	height: 0px;
	border-top: 100px solid red;
	border-right: 100px solid transparent;
}
.triangle-top-right{
	width: 0px;
	height: 0px;
	border-top: 100px solid red;
	border-left: 100px solid transparent;
}
.triangle-bottom-left{
	width: 0px;
	height: 0px;
	border-bottom: 100px solid red;
	border-right: 100px solid transparent;
}
.triangle-bottom-right{
	width: 0px;
	height: 0px;
	border-bottom: 100px solid red;
	border-left: 100px solid transparent;
}